<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   welcome <%= username %>
  <a href="/logout">logout</a>
    <center>
        <h2>employee details &nbsp;&nbsp; <a href="/addEmp">add emp</a></h2>
        <table border="3">
            <tr>
                <th>name</th>
                <th>salary</th>
                <th>dept</th>
                <th>actions</th>
            </tr>
            <% data.forEach(u => { %>
             <tr>
                <td><%= u.name %></td>
                <td><%= u.salary %></td>
                <td><%= u.dept %></td>
                <td>
                    <a href="/editform/<%= u._id %>"><button type="submit">update</button></a>
                    <form action="/deleteEmp/<%= u._id %>?_method=delete " method="post" onsubmit="return confirm('are you sure')">
                        <button type="submit">delete</button>
                    </form>
                </td>
             </tr>
            <% }) %>
        </table>
    </center>
</body>
</html>