<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h2>update room details</h2>
        <form action="/updateRoom/<%= data._id %>?_method=put" method="post">
            roomnumber:
            <input type="text" name="roomnumber" id="" value="<%= data.roomnumber %>">
            <br><br>
            roomtype:
            <input type="text" name="roomtype" id="" value="<%= data.roomtype %>">
            <br><br>
            pricepernight:
            <input type="text" name="pricepernight" id="" value="<%= data.pricepernight %>">
            <br><br>
            capacity:
            <input type="text" name="capacity" id="" value="<%= data.capacity %>">
            <br><br>
            <button type="submit">update</button>
        </form>
    </center>
</body>
</html>